# Backend Configuration
BACKEND_PORT=8000

# Frontend Configuration
FRONTEND_PORT=8501

# Model Configuration
MODEL_PATH=./vit-base-patch16-224-in21k-meme
MAX_IMAGE_SIZE=10

# Application Settings
ENV=development
LOG_LEVEL=info
